
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance</title>
    <style>
    body {
      background-color: #76d7c4;
      border-radius: 8px;
      padding: 1em;
    }
  </style>
</head>
<body >	
<h1  style="color:SlateBlue">Attendance Final Project</h1>
<h2>The final attendance project for Bynet-8200-Dev course<h2>
<h3>By Linoy Hevron<h2>
<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Percentage</th>
  </tr>
    {% for att in attendance %}
      <tr>
    <td>{{ att['Name'] }}</td>
    <td>{{ att['Duration'] }}</td>
    <td>{{ att['Percentage'] }}</td>

      </tr>
    {% endfor %}
  </table>
</body>
</html>
